  <article class="comments-header">Comments</article>
  <ul class="comments-list">
    <% comments.each(function (comment) { %>
      <li class="comment"><%= comment.escape('body') %></li>
    <% }) %>
  </ul>
