

<div id="dialog" title="<%= listing.escape('pet_name') %>">
  <p>
    <strong>Species: </strong><%= listing.escape('species') %><br>
    <strong>Location: </strong><%= listing.escape('location') %><br><br>
    <strong>Description: </strong><%= listing.escape('body') %>
  </p>
</div>
