<div class="header">
  <h1 class=logo>PetAdopter</h1>
</div>

<div class="signup">

  <h2>Please Try Again...</h2>
  <br>
  <br>

  <form  class="signupauth" action="<%= session_url %>" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <label>E-mail:
    <input type="text" name="user[email]" placeholder="E-Mail Address" value="">
    </label>

    <label>Password:
    <input type="password" name="user[password]" placeholder="Password" value="">
    </label>

    <br><br>
    <button class="signupbutton" name="Sign In">Sign In</button>

  </form>

  <br><br>
  <div class="signupauth">
    Don't have an account? <strong><a href="/users/new">Sign up for one</a></strong>
  </div>
</div>
