<div class="header">

  <h1 class=logo>PetAdopter</h1>
</div>

<div class="signup">

  <h2>Sign Up for a PetAdopter Account</h2>
  <br>
  <br>

  <form  class="signupauth" action="<%= users_url %>" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <label>E-mail:
    <input type="text" name="user[email]" value="">
    </label>

    <label>Password:
    <input type="password" name="user[password]" value="">
    </label>

    <br><br>
    <button class="signupbutton" name="Sign Up">Sign Up</button>

  </form>

  <br><br>
  <div class="signupauth">
    Already have an account? <strong><a href="/">Sign in at the top of our homepage</a></strong>
  </div>
</div>
