<% content_for :header do  %>
  <%= render 'layouts/header' %>
<% end %>

<div id="content"></div>
<script type="text/javascript" charset="utf-8">
  $(Petadopter.initialize({
    user_id: <%= current_user.try(:id) || "null" %>
  }));
</script>
