/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require_jquery-ui.css
 *= require_jquery-ui.structure.css
 *= require_jquery-ui.theme.css
 */

/*.stop-scrolling {
   height: 100%;
   overflow: hidden;
 }*/

/* RESET */
html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

ul, li {
  list-style: none;
}


/* CLEARFIX */

.group:after {
  content: "";
  display: block;
  clear: both;
}




/* STYLING */

body {
  font-family: 'Bitter', serif;
  font-size: 18px;
  background: #f2fced;
}

body .listing:hover {
  background: #b0ed92;
  cursor: pointer;
  border-radius: 6px;
  border: 2px solid #8fac8b;
  padding: 9px 9px;
}

body .listing {
  display: block;
  float: left;
  position: relative;
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
  width: 600px;
  margin-left: 120px;
  /*border-bottom: 1px solid #ccc;*/
}

body .listing .attr {
  color: #827acd;
}

.ui-dialog {
  font-family: 'Bitter', serif;
}

/*.listingitem {
  border-bottom: 1px solid #ccc;
}*/

body .listing ul {

}

body .listing li {
  float: left;
  padding: 9px;
}

body .all_listings {
  /*width: 600px;
  margin: auto;*/
  padding-left: 100px;
}

body .listings_header {
  display: block;
  /*margin: 0 auto;*/
  font-weight: 300px;
  font-size: 24px;
  /*margin-right: 210px;*/
  text-align: center;
}

.logo {
  color: green;
  font-family: 'Kaushan Script', cursive;
  font-size: 36px;
  font-weight: 500;
  float: left;
  margin: 18px;
}

.header {
  display: block;
  background: #dae0f1;
  border-bottom: 2px solid #ced5ed;
  font-weight: 400px;
  min-height: 85px;
}

.auth {
  float: right;
  padding-top: 5px;
  font-family: 'Georgia', serif;
}

.auth_form {
  float: left;
  padding-right: 20px;
  padding-bottom: 1px;
}

.header a {
  text-decoration: underline;
  cursor: hand;
}

.header button {
  background: #3498db;
  border-radius: 28px;
  text-shadow: 1px 1px 3px #666666;
  font-family: Georgia;
  font-weight: 400px;
  color: #ffffff;
  font-size: 12px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}

.header button:hover {
  cursor: pointer;
  background: #3cb0fd;
}

.nlist .new_listing {
  background: #3498db;
  border-radius: 28px;
  text-shadow: 1px 1px 3px #666666;
  font-family: Georgia;
  color: #ffffff;
  font-size: 14px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  display: block;
  font-weight: 400;
  width: 120px;
  margin: 0 auto;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
}

.new_listing:hover {
  background: #3cb0fd;
  cursor: pointer;
}

.header .sign_in {
  float: right;
  padding-right: 18px;
}

.header .authed {
  float: right;
  padding-top: 15px;
  padding-right: 10px;
  padding-bottom: 5px;
  font-family: 'Georgia', serif;
}

.click2c {
  padding-bottom: 20px;
  position: absolute;
  bottom: -18px;
  left: 115px;
  color: red;
  float: right;
  opacity: 0;
}

.listing:hover .click2c {
  opacity: 1;
}

.ui-effects-transfer {
  border: 2px dashed #ccc;
}

.signup {
  padding: 10px;
  text-align: center

}

.signup h2 {
  font-size: 30px;
  font-weight: bold;
  font-family: 'Kaushan Script', cursive;
}

.signup .signupauth {
}

.signup a:hover {
  text-decoration: underline;
}

.signupbutton {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 24px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 18px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}

.signupbutton:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
  cursor: pointer;
}

/*.nlist {
  text-align: center;
  margin: 0 auto;
    float: left;
}*/


/*.logo:hover {
  background: #d4b8f4;
}*/

input {
  border-radius: 6px;
  border: 3px solid white;
  -webkit-box-shadow:
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1);
  -moz-box-shadow:
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1);
  box-shadow:
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1);
  padding: 5px;
  background: rgba(255,255,255,0.5);
  margin: 0 0 10px 0;
}

.ui-button-text {
  color: #565676;
  font-weight: 600;
  font-family: "Lucida Sans Unicode", sans-serif;
}

.addComment button {
  background: #5d21cc;
  background-image: -webkit-linear-gradient(top, #5d21cc, #8d8dec);
  background-image: -moz-linear-gradient(top, #5d21cc, #8d8dec);
  background-image: -ms-linear-gradient(top, #5d21cc, #8d8dec);
  background-image: -o-linear-gradient(top, #5d21cc, #8d8dec);
  background-image: linear-gradient(to bottom, #5d21cc, #8d8dec);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 13px;
  padding: 8px 18px 8px 18px;
  text-decoration: none;
  margin: 5px;
}

.addComment button:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
  cursor: pointer;
}

textarea {
  border-radius: 6px;
  background: #eee;
  box-shadow: 2px 1px, -0.4em 0 0.2em #ccc;
  margin-top: 12px;
}


.cell {
  color: #6833db;
  padding-left: 30px;
}
.comments-header {
  font-family: 'Amatic SC', cursive;
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  padding-right: 30px;
  padding-bottom: 10px;
}

.comment {
  background: #e3e3e3;
  width: 460px;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 6px;
  box-shadow: 3px 3px, -0.8em 0 0.4em #ccc;
}

select {
	border: 0 !important;
	-webkit-appearance: none;
	-moz-appearance: none;
	background: #9c9ded;
	width: 100px;
	text-indent: 0.01px;
  color: white;
	border-radius: 10px 0;
	padding: 5px;
	box-shadow: inset 0 0 5px rgba(000,000,000, 0.5);
}

/*select:after {
  color: #444;
  content: ' ▾';
}*/
.comment {
  position: relative;
}

.comments-list .comment .removeComment {
  background: #ff5476;
  background-image: -webkit-linear-gradient(top, #ff5476, #402626);
  background-image: -moz-linear-gradient(top, #ff5476, #402626);
  background-image: -ms-linear-gradient(top, #ff5476, #402626);
  background-image: -o-linear-gradient(top, #ff5476, #402626);
  background-image: linear-gradient(to bottom, #ff5476, #402626);
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  position: absolute;
  font-family: Georgia;
  color: #ffffff;
  font-size: 11px;
  margin-top: 10px;
  /*margin-left: 3px;*/
  padding: 5px 10px 5px 10px;
  bottom: 10px;
  right: 5px;
  text-decoration: none;
  float:right;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.byline {
  margin-top: 10px;
  color: #7d7d7d;
  font-style: italic;
}

.comments-list .comment .removeComment:hover {
  background: #9c1a21;
  background-image: -webkit-linear-gradient(top, #9c1a21, #d600ab);
  background-image: -moz-linear-gradient(top, #9c1a21, #d600ab);
  background-image: -ms-linear-gradient(top, #9c1a21, #d600ab);
  background-image: -o-linear-gradient(top, #9c1a21, #d600ab);
  background-image: linear-gradient(to bottom, #9c1a21, #d600ab);
  text-decoration: none;
  cursor: pointer;
}

.indexImg {
  display: block;
  width: 140px;
  height: auto;
  float: right;
  vertical-align: auto;
}

.listingImg {
  display: block;
  width: 200px;
  height: auto;
  float: right;
  /*margin-right: 10px;
  margin-bottom: 10px;*/
}

.table {
  float: left;
  width: 260px;
  display: block;
  margin-top: 10px;
}

.listingTop {
  width: 480;
  display: block;
  height: 160px;
  margin-bottom: 10px;
}

/*.ui-dialog-content {
  width: 500px;
}*/

.ui-dialog .ui-dialog-content .listingBody {
  margin-top: 10px;
  display: block;
  float: left;
  margin-bottom: 10px;

}
