/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require_jquery-ui.css
 *= require_jquery-ui.structure.css
 *= require_jquery-ui.theme.css
 */

/* RESET */
html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}


/* CLEARFIX */

.group:after {
  content: "";
  display: block;
  clear: both;
}




/* STYLING */

body {
  font-family: 'Coming Soon', cursive;
  font-size: 18px;
  font-weight: 400;
  background: #f2fced;
}

body .listing:hover {
  background: #b0ed92;
  font-weight: 600;
  cursor: pointer;
}

body .all_listings {
  margin: 50px;
  padding-left: 100px;
}

body .listings_header {
  display: block;
  /*margin: 0 auto;*/
  font-weight: 300px;
  font-size: 24px;
  /*margin-right: 210px;*/
  text-align: center;
}

.logo {
  color: green;
  font-family: 'Kaushan Script', cursive;
  font-size: 36px;
  font-weight: 500;
  float: left;
  margin: 18px;
}

.header {
  display: block;
  background: #dae0f1;
  border-bottom: 2px solid #ced5ed;
  min-height: 85px;
}

.auth {
  float: right;
  padding-top: 5px;
  font-family: 'Georgia', serif;
}

.auth_form {
  float: left;
  padding-right: 20px;
  padding-bottom: 10px;
}

.header a {
  text-decoration: underline;
  cursor: hand;
}

.header button {
  background: #3498db;
  border-radius: 28px;
  text-shadow: 1px 1px 3px #666666;
  font-family: Georgia;
  color: #ffffff;
  font-size: 12px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}

.header button:hover {
  cursor: pointer;
}

.nlist .new_listing {
  background: #3498db;
  border-radius: 28px;
  text-shadow: 1px 1px 3px #666666;
  font-family: Georgia;
  color: #ffffff;
  font-size: 14px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  display: block;
  width: 120px;
  margin: 0 auto;
}

.new_listing:hover {
  cursor: pointer;
}

.header .sign_in {
  float: right;
  padding-right: 18px;
}

.header .authed {
  float: right;
  padding-top: 15px;
  padding-right: 10px;
  padding-bottom: 5px;
  font-family: 'Georgia', serif;
}

.click2c {
  float: right;
  padding-bottom: 20px;
  color: red;
  /*float: right;*/
  opacity: 0;
}

.listing:hover .click2c {
  opacity: 1;
}

.ui-effects-transfer {
    border: 2px dotted red;
}

/*.nlist {
  text-align: center;
  margin: 0 auto;
    float: left;
}*/


/*.logo:hover {
  background: #d4b8f4;
}*/
